@import "./varables";

.contact-section {
  margin: 16rem 0 0 23vw;
  @include mobile {
    margin: 1rem 0 0 50px;
    transform: translateY(-180px);
  }
  @include tablet {
    @include tablet-position;
  }

  .section-title {
    @include title-text;
    @include mobile {
      @include mobile-title-text-size;
    }
    @include tablet {
      @include tablet-title-text-size;
    }
  }

  .contact-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    @include mobile {
      height: 20vh;
    }

    .contact-info {
      color: $sub-text-color;
      font-size: 1.3rem;
      display: flex;
      padding: 2rem 0 0 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include mobile {
        font-size: 1rem;
        padding-top: 150px;
        align-items: flex-start;
      }

      img {
        width: 120px;
        border-radius: 50%;
      }
    }
  }
}
