@import "./varables";

.footer-section {
  color: $sub-text-glow-color;
  margin: 3rem 0 0 6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    margin: 3rem 0 0 6rem;
  }
  @include mobile {
    margin: 0 auto;
  }
}
