@import "./varables";

.nav-bar {
  margin: 2rem 0 0 1rem;
  height: 100vh;
  width: 10%;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    display: none;
  }

  .section-bar {
    margin: 0;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    .nav-icon {
      font-size: 1.5rem;
      transform: translateX(-3px);
    }

    a,
    a:focus,
    a:visited {
      text-decoration: none;
    }

    li {
      margin-bottom: 2.5rem;
      list-style-type: none;
      color: $sub-text-color;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.5s;

      @include mobile {
        font-size: 1rem;
      }
    }

    li:hover {
      color: $title-color;
      text-shadow: 0 0 30px $title-glow-color;
    }
  }

  .media-bar {
    @extend .section-bar;
    transform: rotate(0deg);
    margin-bottom: 2.5rem;

    li {
      font-size: 1.8rem;

      @include mobile {
        font-size: 1.5rem;
      }
    }
  }
}
