@import "./varables";

.projects-section {
  margin: 12rem 0 0 23vw;
  padding-top: 1rem;

  @include mobile {
    @include mobile-position;
  }
  @include tablet {
    @include tablet-position;
  }
  @include laptop {
    margin: 12rem 0 0 23vw;
    padding-top: 1.5rem;
  }

  h1 {
    @include title-text;
    @include mobile {
      @include mobile-title-text-size;
    }
    @include tablet {
      @include tablet-title-text-size;
    }
  }

  .project-display {
    margin-top: 100px;
    width: 90%;

    @include tablet {
      margin: 100px auto;
    }
    @include laptop {
      margin: 100px 0;
    }
  }

  .each-project {
    margin: 80px 80px;
    padding: 0;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: inset 0px 0 15px $ball-glow-color;
    transition: all 1s;

    @include mobile {
      margin: 80px auto;
      border-radius: 15px;
      flex-direction: column;
    }

    @include tablet {
      margin: 80px 0;
      flex-direction: column;
    }

    .project-img {
      border-radius: 30px;

      @include mobile {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 15px;
      }
      @include tablet {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
      }
    }

    .project-text {
      margin-left: 20px;
      color: $sub-text-color;

      @include mobile {
        margin: 15px 15px;
      }
      @include tablet {
        margin: 15px 15px;
      }
    }

    .project-title {
      margin: 0;
      font-size: 1.5rem;

      @include mobile {
        font-size: 1.2rem;
      }
      @include tablet {
        font-size: 1.4rem;
      }
      @include laptop {
        font-size: 1.2rem;
      }
    }

    .project-description {
      margin: 15px 0 0 0;

      @include mobile {
        font-size: 0.9rem;
      }
      @include tablet {
        font-size: 1rem;
      }
      @include laptop {
        font-size: 0.8rem;
        width: 90%;
      }
    }

    .tech-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 0;

      li {
        list-style-type: none;
        margin-right: 1rem;
        padding: 2px;
        color: $background-color;
        background-color: $indicator-color;
        font-weight: 600;
        font-size: 1rem;
        border-radius: 5px;

        @include mobile {
          font-size: 0.8rem;
        }
        @include tablet {
          font-size: 1rem;
        }
        @include laptop {
          font-size: 0.8rem;
        }
      }
    }

    .project-link {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      a,
      a:visited,
      a:focus {
        text-decoration: none;
        p {
          color: $title-color;
          box-shadow: 0px 0 15px $title-glow-color;
          font-weight: 600;
          margin: 0 1rem 0 0;
          padding: 10px;
          border-radius: 10px;
          transition: box-shadow 0.5s;
          @include mobile {
            font-size: 0.8rem;
            margin: 10px 0;
          }
          @include tablet {
            font-size: 1rem;
            margin: 20px 0;
          }
          @include laptop {
            font-size: 0.8rem;
          }

          svg {
            margin-left: 7px;
            transform: translateY(3px);
            transition: transform 0.5s;
          }
        }
      }

      a:hover {
        p {
          box-shadow: 0px 0 15px $title-color;
          @include mobile {
            font-size: 0.8rem;
            margin: 10px 0;
          }
          @include tablet {
            font-size: 1rem;
            margin: 20px 0;
          }
          @include laptop {
            font-size: 0.8rem;
          }

          svg {
            transform: translateY(3px) translateX(6px);
          }
        }
      }
    }
  }

  .each-project:hover {
    box-shadow: inset 0 0 25px $title-glow-color;
  }
}
