@import "./varables";

.tech-section {
  margin: 8rem 0 0 23vw;
  padding-top: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  position: relative;
  @include laptop {
    @include laptop-position;
  }

  @include tablet {
    @include tablet-position;
  }
  @include mobile {
    margin: 24rem 24px 7rem;
    padding-top: 0;
  }

  .section-title {
    @include title-text;
    @include tablet {
      @include tablet-title-text-size;
    }
    @include mobile {
      @include mobile-title-text-size;
    }
  }

  .skill-list {
    margin-top: 5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include laptop {
      margin: 5rem 0 0 20px;
    }
    @include tablet {
      margin: 3rem auto;
      width: 100%;
    }
    @include mobile {
      margin: 2rem auto;
      width: 100%;
    }

    .skill-canvas {
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      @include mobile {
        width: 100%;
      }

      .skill-balls {
        border-radius: 50%;
        box-shadow: 0px 0 15px $ball-glow-color;
        margin: 0.8rem;
        width: 80px;
        height: 80px;
        transition: box-shadow 0.6s;

        @include tablet {
          width: 70px;
          height: 70px;
        }
        @include mobile {
          width: 60px;
          height: 60px;
        }
      }

      .skill-balls:hover {
        box-shadow: 0px 0 25px $title-glow-color;
      }
    }

    .skill-description {
      color: $sub-text-glow-color;
      margin-top: 20px;
      font-size: 1rem;
      font-weight: 600;
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      @include mobile {
        font-size: 0.9rem;
        margin: 2rem auto 0;
        width: 100%;
      }

      .skill-name {
        margin-left: 10px;
      }
    }
  }
}
