@import "./varables";

.words-section {
  display: none;
  border: red 1px solid;
  margin: 30vh 0 0 23vw;

  @include tablet {
    @include tablet-position;

    @include mobile {
      @include mobile-position;
    }
  }

  .section-title {
    @include title-text;
    @include mobile {
      @include mobile-title-text-size;
    }
    @include tablet {
      @include tablet-title-text-size;
    }
  }
}
