@import "./varables";
@import "./Hero";
@import "./NavBar";
@import "./Tech";
@import "./Projects";
@import "./Words";
@import "./About";
@import "./Contact";
@import "./Footer";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
      #0e1d2ef3 0.1%,
      #0e1d2ef8 3%,
      #08111c 25%,
      #0e1d2ef8 95%,
      #0e1d2ef3 99.9%
    ),
    url("/background-img.png") no-repeat;

  background-size: cover;
  color: $main-text-color;
  font-family: "Montserrat", sans-serif;

  ::selection {
    background-color: $title-color;
    color: $background-color;
  }
}

main {
  width: 100%;
  position: relative;
}
